

table {
    margin-top: 5%;
    margin-left: 5%;
    width: 80%;
    text-align: left;
    border-collapse: collapse;
    border: 1px solid #f69b19;
}

tbody tr:nth-child(even) {
    background: black;
}

tr {
    text-align: left;
}

th, td, tr {
    padding: 20px;
}

tfoot {
    background: #a7bfef;
}