* {
    background-color: #f7f0ea;
}

main {
    display: flex;
    justify-content: center;
    align-content: center;
}

table {
    margin-top: 5%;
    width: 75%;
    text-align: left;
    border-collapse: collapse;
    border: 1px solid #f69b19;
}

tbody tr:nth-child(even) {
    background: black;
}

tr {
    text-align: left;
}

th, td, tr {
    padding: 10px;
    padding-left: 3%;
}

tfoot {
    background: #a7bfef;
}

tr, td {
    font-family: Darker Grotesque;
}